html
    {
        position: relative;
        min-height: 100%;
    }

body
    {
        background-color: #ffffff;
        border-bottom: 2px solid #dddddd;
        font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
        background-image: url('../images/whirlpool.png');
        margin: 0 0 100px;
    }

header
    {
        background-color: #ffffff;
        border-color: #cccccc;
        border-bottom: solid 2px;
        color: white;
        font-family: 'Georgia', 'Times', 'Times New Roman', serif;
        margin: 0;
        padding: 0;
        height: 78px;
        width: 100%;
    }

footer
    {
        background-color: #666666;
        color: white;
        clear: both;
        height: 100px;
        text-align: center;
        font-size: 12px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 8px solid #4aaaa5;
        z-index: 10;
    }

footer p
    {
        padding-top: 10px;
    }

nav
    {
        margin-right: 24%;
        color: #dddddd;
    }

ul
    {
        list-style-type: none;
        display: inline;
        margin: -10px;
        padding-right:  0;
        text-align: center;

    }

ul li
    {
        padding-right: 10px;
        font-size: 18px;
    }

ul li a
    {
        line-height: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

h2
    {
        color: #4aaaa5;
        font-size: 24px;
        border-bottom: 1px solid #dddddd;
        margin: 25px;
        padding-bottom: 10px;
    }

section
    {
        width: 650px;
        background-color: #ffffff;
        padding-top: 20px;
        padding-bottom: 100px;
        border: 1px solid #dddddd;
        margin-top: 3%;
        margin-left: 10%;
        float: left;
        color: #777777;
        margin-bottom: 125px;
    }

form
    {
        margin-left: 4%;
    }

input
    {
        width: 600px;
        height: 25px;
        border: 1px solid #dddddd;
        color: #dddddd;
    }

label, input
    {
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 1px;
    }

article
    {
        width: 650px;
        background-color: #ffffff;
        height: 300px;
    }

aside
    {
        width: 270px;
        background-color: #ffffff;
        float: left;
        padding-top: 20px;
        margin-top: 3%;
        margin-left: 3%;
        text-align: center;
    }

a
    {
        text-decoration: none;
        color: #777777;
        float: right;
        display: inline-block;
        word-wrap: normal;
        padding: 10px;
    }

p
    {
        line-height: 1.5em;
        margin: 25px;
    }

textarea
    {
        width: 600px;
        height: 180px;
        border: 1px solid #dddddd;
    }

#lines
    {
        border-right: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
    }

#contact
    {
        height: 375px;
    }

#button
    {
        background-color: #4aaaa5;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 16px;
        color: white;
        width: 100px;
        height: 35px;
        margin: 5px;
        border: 0;
        border-radius: 0;
    }

#pro
    {
        width: 200px;
        height: 200px;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        margin: 5px;
    }

#logo
    {
        background-color: #4aaaa5;
        margin-left: 10%;
        float: left;
        width: 250px;
        height: 80px;
    }

#hangman
    {
        background-image: url('../images/portfolio_placeholder_1.jpg');
        height: 200px;
        width: 275px;
        z-index: 1;
        position: relative;
        float: left;
        margin: 10px;
        left: 10px;
    }

#rpg
    {
        background-image: url('../images/portfolio_placeholder_2.jpg');
        height: 200px;
        width: 275px;
        z-index: 1;
        position: relative;
        float: left;
        margin: 10px;
        left: 10px;
    }

#rps
    {
        background-image: url('../images/portfolio_placeholder_3.jpg');
        height: 200px;
        width: 275px;
        z-index: 1;
        position: relative;
        float: left;
        margin: 10px;
        left: 10px;
    }

#trivia
    {
        background-image: url('../images/portfolio_placeholder_4.jpg');
        height: 200px;
        width: 275px;
        z-index: 1;
        position: relative;
        float: left;
        margin: 10px;
        left: 10px;
    }

#rutgers
    {
        background-image: url('../images/portfolio_placeholder_5.jpg');
        height: 200px;
        width: 275px;
        z-index: 1;
        position: relative;
        float: left;
        margin: 10px;
        left: 10px;
    }

.banner
    {
        background-color: #4aaaa5;
        width: 275px;
        z-index:2;
        position: absolute;
        bottom: 10px;
        text-align: center;
        color: white;
    }

.topper
    {
        color: #4aaaa5;
        font-size: 32px;
        border-bottom: 3px solid #dddddd;
        margin: 25px;
        padding-bottom: 10px;
    }

.social
    {
        margin-bottom: 10px
    }