html
    {
        position: relative;
        min-height: 100%;
    }

body
    {
        background-color: #ffffff;
        border-bottom: 2px solid;
        border-color: #dddddd;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        background-image: url('../images/whirlpool.png');
        margin: 0 0 100px;
    }

header
    {
        background-color: #ffffff;
        border-color: #cccccc;
        border-bottom: solid 2px;
        color: white;
        font-family: 'Georgia', Times, Times New Roman, serif;
        margin: 0;
        padding: 0;
        height: 78px;
        width: 100%;
    }

footer
    {
        background-color: #666666;
        color: white;
        clear: both;
        height: 100px;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

    }

nav
    {
        margin-right: 23%;
    }

ul
    {
        list-style-type: none;
        display: inline;
        margin: -10px;
        padding-right:  0;
        text-align: center;
    }

ul li
    {
        padding-right: 10px;
    }

h2
    {
        color: #4aaaa5;
        font-size: 28px;
        border-bottom: 1px solid black;
    }

section
    {
        width: 650px;
        background-color: #ffffff;
        padding-top: 20px;
        padding-bottom: 100px;
        border-color: #dddddd;
        margin-top: 3%;
        margin-left: 10%;
        float: left
    }

article
    {
        width: 650px;
        background-color: #ffffff;
        height: 300px;
    }

aside
    {
        width: 270px;
        background-color: #ffffff;
        float: left;
        padding-top: 20px;
        margin-top: 3%;
        margin-left: 3%;
        text-align: center;
    }

a
    {
        text-decoration: none;
        color: #777777;
        float: right;
        display: inline-block;
        word-wrap: normal;
        padding: 0px 10px;
    }

#pro
    {
        width: 200px;
        height: 200px;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

#logo
    {
        background-color: #4aaaa5;
        margin-left: 10%;
        float: left;
        width: 250px;
    }

#hangman
    {

    }

#rpg
    {

    }

#rps
    {

    }

#trivia
    {

    }

#rutgers
    {

    }

.banner
    {

    }

